* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #f4f7f6;
}

/* HEADER */
header {
  background: #27ae60;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 15px 40px;
  align-items: center;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

nav a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-weight: 500;
}

nav a:hover {
  text-decoration: underline;
}

/* HERO SECTION */
.hero {
  text-align: center;
  padding: 60px 20px;
  background: linear-gradient(to right, #2ecc71, #27ae60);
  color: white;
}

.hero h1 {
  font-size: 36px;
  margin-bottom: 15px;
}

.hero p {
  margin-bottom: 15px;
  font-size: 18px;
}

.hero button {
  padding: 12px 25px;
  background: white;
  color: #27ae60;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.hero button:hover {
  background: #ecf0f1;
}

/* STATS */
.stats {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 40px;
  flex-wrap: wrap;
}

.card {
  background: white;
  padding: 30px;
  width: 220px;
  text-align: center;
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

.card h2 {
  margin-bottom: 10px;
}

.card p {
  font-size: 24px;
  font-weight: bold;
  color: #27ae60;
}

/* UPLOAD SECTION */
.upload {
  text-align: center;
  padding: 50px 20px;
}

.upload-box {
  margin-top: 20px;
}

.upload-box input {
  margin-bottom: 15px;
}

.upload-box img {
  display: block;
  margin: 15px auto;
  max-width: 200px;
  border-radius: 10px;
}

.upload-box button {
  padding: 10px 20px;
  background: #27ae60;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.upload-box button:hover {
  background: #219150;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  background: #2c3e50;
  color: white;
  margin-top: 40px;
}